<h2>Line_items</h2>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Cart</th>
      <th>Order</th>
      <th>Product</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.cart %></td>
        <td><%= line_item.order %></td>
        <td><%= line_item.product %></td>
        <td><%= line_item.quantity %></td>
        <td><%= link_to 'Show', [:admin, line_item] %></td>
        <td><%= link_to 'Edit', edit_admin_line_item_path(line_item) %></td>
        <td><%= link_to 'Destroy', [:admin, line_item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Line item', new_admin_line_item_path %>
