<h2>Users</h2>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Name</th>
      <th>Address</th>      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.roles.first.try(:title) %></td>
        <td><%= user.name %></td>
        <td><%= user.address %></td>        
        <td><%= link_to 'Show', [:admin, user] %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Destroy', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
